/*
* Colors
*/
$base-color: #986060;

/*
* Classes (ampersand + BEM)
*/
.login {
    display: flex;
    height: 100%;

    &__welcome-back {
        z-index: 2;
        transition: visibility .3s ease-in-out;

        &--active {
            visibility: visible;
            width: 30%;
        }
    
        &--inactive {
            visibility: hidden;
            width: 0;
        }

        &__logo-container {
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            font-weight: bold;

            &--image {
                width: 38px;
                height: 38px;
                margin-right: 4px;
            }
        }

        &__main-container {
            margin-top: 20%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

            &__text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;
                text-align: center;

                &--title {
                    font-size: 30px;
                    font-weight: bold;
                }

                &--secondary {
                    margin-top: 12px;
                    font-size: 13px;
                    font-weight: lighter;
                }
            }

            &__button-container {
                margin-top: 40px;
                border: solid 2px white;
                width: 50%;
                height: 40px;
                border-radius: 30px;
                font-size: 18px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
    
    &__create-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $base-color;
        font-weight: bold;
        font-size: 25px;
        z-index: 2;
        width: 70%;
        left: 30.5%;
        transition: all .8s ease-in-out;

        &--active {
            visibility: visible;
            transform: translateX(0%);
        }
    
        &--inactive {
            visibility: hidden;
            transform: translateX(100%);
        }

        &__social-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;

            &--facebook-icon {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            &--google-icon {
                width: 22px;
                height: 22px;
                margin-left: 10px;
                cursor: pointer;
            }

            &--linkedin-icon {
                width: 22px;
                height: 22px;
                margin-left: 14px;
                cursor: pointer;
            }
        }

        &--info-text {
            margin-top: 15px;
            color: #AEAEAE;
            font-size: 14px;
        }
    }

    &__register-container {
        position: absolute;
        transition: all .7s ease-in-out;
        z-index: 2;
        width: 70%;

        &__logo-container {
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            font-weight: bold;

            &--image {
                width: 38px;
                height: 38px;
                margin-right: 4px;
            }
        }

        &__main-container {
            color: $base-color;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--active {
            visibility: visible;
            transform: translateX(0%);
            opacity: 1;
        }

        &--inactive {
            visibility: hidden;
            transform: translateX(100%);
            opacity: 0;
        }
    }

    &__hello-container {
        width: 30%;
        left: 70.5%;
        position: absolute;
        z-index: 2;
        transition: all .8s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        color: white;

        &--active {
            visibility: visible;
            transform: translateX(0%);
        }

        &--inactive {
            visibility: hidden;
            transform: translateX(-100%);
        }
    }

    &__colored-container {
        position: absolute;
        background-color: $base-color;
        width: 30%;
        height: 100vh;
        z-index: 1;
        transition: transform 1s ease;

        &--left {
            transform: translateX(0px);
        }

        &--right {
            transform: translateX(235%);
        }
    }
}