/*
* Colors
*/
$base-color: #986060;

/*
* Media queries helper
*/
$breakpoint-mobile: 768px;

/*
* Classes (ampersand + BEM)
*/
.login {
    display: flex;
    height: 100%;

    &__welcome-back {
        z-index: 2;
        transition: visibility .3s ease-in-out;
        position: absolute;
        transition: all .8s ease-in-out;
        width: 30%;
        font-family: 'Quicksand-Bold';

        &--active {
            visibility: visible;
            transform: translateX(0%);
        }
    
        &--inactive {
            visibility: hidden;
            transform: translateX(-100%);
        }

        &__logo-container {
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            font-weight: bold;

            &--image {
                width: 38px;
                height: 38px;
                margin-right: 4px;
            }

            @media (max-width: $breakpoint-mobile) {
                font-size: 0px;
                justify-content: center;
            }
        }

        &__main-container {
            margin-top: 20%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

            &__text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;
                text-align: center;

                &--title {
                    font-size: 30px;
                    font-weight: bold;
                }

                &--secondary {
                    margin-top: 12px;
                    font-size: 13px;
                    font-weight: lighter;
                    font-family: 'Quicksand-Regular';
                }

                @media (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }

            &__button-container {
                margin-top: 40px;
                border: solid 2px white;
                width: 50%;
                height: 40px;
                border-radius: 30px;
                font-size: 18px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media (max-width: $breakpoint-mobile) {
                    font-size: 3vw;
                }
            }
        }
    }
    
    &__create-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $base-color;
        font-weight: bold;
        font-size: 30px;
        z-index: 2;
        width: 70%;
        left: 30.5%;
        transition: all .8s ease-in-out;
        font-family: 'Quicksand-Bold';

        &--active {
            visibility: visible;
            transform: translateX(0%);
        }
    
        &--inactive {
            visibility: hidden;
            transform: translateX(100%);
        }

        &__social-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;

            &--facebook-icon {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            &--google-icon {
                width: 22px;
                height: 22px;
                margin-left: 10px;
                cursor: pointer;
            }

            &--linkedin-icon {
                width: 22px;
                height: 22px;
                margin-left: 14px;
                cursor: pointer;
            }
        }

        &--info-text {
            margin-top: 15px;
            color: #AEAEAE;
            font-size: 14px;
        }

        &__form-container {
            margin-top: 3%;
            &__form {
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 290px;
                    height: 34px;
                    border-radius: 3px;
                    background-color: #f1f1f1;
                    margin-bottom: 10px;
                    color: #242424;

                    @media (max-width: $breakpoint-mobile) {
                        width: 50vw;
                    }
                }

                &--name {
                    background-image: url(../../assets/images/user.svg);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding-left: 40px;
                    font-size: 15px;
                    background-size: 23px;
                }

                &--email {
                    background-image: url(../../assets/images/mail.svg);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding-left: 40px;
                    font-size: 15px;
                    background-size: 23px;
                }

                &--password {
                    background-image: url(../../assets/images/password.svg);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding-left: 40px;
                    font-size: 15px;
                    background-size: 23px;
                }

                &--submit {
                    margin-top: 20px;
                    color: white;
                    background-color: $base-color;
                    border: solid 2px white;
                    width: 50%;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }

    &__login-container {
        position: absolute;
        transition: all .7s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #986060;
        font-weight: bold;
        font-size: 30px;
        z-index: 2;
        font-family: 'Quicksand-Bold';

        &__logo-container {
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $base-color;
            font-weight: bold;

            &--image {
                width: 38px;
                height: 38px;
                margin-right: 4px;
            }
        }

        &__main-container {
            color: $base-color;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: bold;

            &__social-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
    
                &--facebook-icon {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
    
                &--google-icon {
                    width: 22px;
                    height: 22px;
                    margin-left: 10px;
                    cursor: pointer;
                }
    
                &--linkedin-icon {
                    width: 22px;
                    height: 22px;
                    margin-left: 14px;
                    cursor: pointer;
                }
            }
    
            &--info-text {
                margin-top: 15px;
                color: #AEAEAE;
                font-size: 14px;
            }

            &__form-container {
                margin-top: 3%;
                &__form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    input {
                        width: 290px;
                        height: 34px;
                        border-radius: 3px;
                        background-color: #f1f1f1;
                        margin-bottom: 10px;
                        color: #242424;
                    }
    
                    &--name {
                        background-image: url(../../assets/images/user.svg);
                        background-repeat: no-repeat;
                        background-position: 10px center;
                        padding-left: 40px;
                        font-size: 15px;
                        background-size: 23px;
                    }
    
                    &--email {
                        background-image: url(../../assets/images/mail.svg);
                        background-repeat: no-repeat;
                        background-position: 10px center;
                        padding-left: 40px;
                        font-size: 15px;
                        background-size: 23px;
                    }
    
                    &--password {
                        background-image: url(../../assets/images/password.svg);
                        background-repeat: no-repeat;
                        background-position: 10px center;
                        padding-left: 40px;
                        font-size: 15px;
                        background-size: 23px;
                    }
    
                    &--submit {
                        margin-top: 20px;
                        color: white;
                        background-color: $base-color;
                        border: solid 2px white;
                        width: 50%;
                        height: 40px;
                        border-radius: 30px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
            }
        }

        &--active {
            visibility: visible;
            transform: translateX(0%);
            opacity: 1;
            width: 70%;
        }

        &--inactive {
            visibility: hidden;
            transform: translateX(100%);
            opacity: 0;
            width: 0;
        }
    }

    &__hello-container {
        width: 30%;
        left: 70.5%;
        position: absolute;
        z-index: 2;
        transition: all .8s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        color: white;
        font-family: 'Quicksand-Bold';

        &--active {
            visibility: visible;
            transform: translateX(0%);
        }

        &--inactive {
            visibility: hidden;
            transform: translateX(-100%);
        }
    }

    &__colored-container {
        position: absolute;
        background-color: $base-color;
        width: 30%;
        height: 100vh;
        z-index: 1;
        transition: transform 1s ease;

        &--left {
            transform: translateX(0px);
        }

        &--right {
            transform: translateX(235%);
        }
    }
}