@font-face {
    font-family: 'Quicksand-Bold';
    src: local('Lato'), url(./assets/fonts/Quicksand_Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: local('Lato'), url(./assets/fonts/Quicksand_Book.otf) format('opentype');
}